# Lab 5 (cont'd): Lambda Function

Learning focus:
- Lambda Function

### Lambda Function

Write a lambda function and assign to variable `convert_int` which can convert a numerical string to integer.

In [1]:
# complete the code below
convert_int = lambda x: str(x)
convert_int('10')

'10'

Write a lambda function and assign to variable `show_name` which can format the input name as the required format.
```
'Full name: Elon MUSK'
```

In [3]:
# complete the code below
show_name = lambda first, last: f'Full name: {first.capitalize()} {last.capitalize()}'
show_name('elon', 'musk')

'Full name: Elon Musk'

Write a lambda function and assign to variable `sort_list` which can return a sorted list in descending order.

In [4]:
list_ex = [1,5,7,6,8,5]

# complete the code below
sort_list = lambda ls: sorted(ls, reverse=True)
sort_list(list_ex)

[8, 7, 6, 5, 5, 1]

In [5]:
list_ex

[1, 5, 7, 6, 8, 5]

Write a lambda function and assign to variable `get_coin` which can return the coins with prices in 100 and 1000.

In [8]:
crypto_list = [('BTC', 23844.68), ('ETH', 1656.9), ('BCH', 135.17), ('BNB', 304.76), ('DOGE', 0.08245)]

# complete the code below
get_coin = lambda crypto, low, high: [coin for coin, price in crypto if low < price < high]
get_coin(crypto_list, 100, 1000)

['BCH', 'BNB']

### Exercises
Write a lambda function and assign to variable get_prices which can return the price list from a dictionary.

In [9]:
crypto_dict = {'BTC': 23844.68, 'ETH': 1656.9, 'BCH': 135.17, 'BNB': 304.76, 'DOGE': 0.08245}

# complete the code below
get_prices = lambda crypto: [price for coin, price in crypto.items()]
get_prices(crypto_dict)

[23844.68, 1656.9, 135.17, 304.76, 0.08245]

### Lambda Function for Sorting List

Both list.sort() and sorted() have a key parameter to specify a function (or other callable) to be called on each list element prior to making comparisons.

In [204]:
clist = list("0123456789")
clist.append('10')
sorted(clist, reverse=True)
sorted(clist, key=int, reverse=True)     # remember the effect of the 'key' argument?

['9', '8', '7', '6', '5', '4', '3', '2', '10', '1', '0']

['10', '9', '8', '7', '6', '5', '4', '3', '2', '1', '0']

### Exercises
#### Task 1
Sort the list by alphabet order of the names.

In [11]:
sid_name = [(20295541, "John") ,(20293369, "Ian"), (20293800, "Hilton"), (20573366, "Violet"), (20205548, "Weslie"), (19999999, "Caroline"), (20865590, "Caroline"), (20000000, "Caroline")]

In [14]:
# complete the code below
sorted(sid_name, key=lambda x: x[1])

[(19999999, 'Caroline'),
 (20865590, 'Caroline'),
 (20000000, 'Caroline'),
 (20293800, 'Hilton'),
 (20293369, 'Ian'),
 (20295541, 'John'),
 (20573366, 'Violet'),
 (20205548, 'Weslie')]

#### Task 2 -- Lab Submission (Lab 6):

Sort the list by alphabet order of the names, then by descending order of sid

In [16]:
# write the code below
sorted(sid_name, key=lambda x: (x[1], -x[0]))

[(20865590, 'Caroline'),
 (20000000, 'Caroline'),
 (19999999, 'Caroline'),
 (20293800, 'Hilton'),
 (20293369, 'Ian'),
 (20295541, 'John'),
 (20573366, 'Violet'),
 (20205548, 'Weslie')]

#### Challenging Questions
Sort the courses list by number of ISOM3400 students in descending order.

In [18]:
courses = [{"ISOM2010": 510, "ISOM2020": 460, "ISOM2030": 70, "ISOM3230": 90, "ISOM3400": 60}, 
              {"ISOM2010": 503, "ISOM2030": 68, "ISOM3180": 68, "ISOM3230": 87, "ISOM3400": 0}, 
              {"ISOM2020": 457, "ISOM3180": 72, "ISOM3260": 60, "ISOM3400": 61}, 
              {"ISOM2020": 480, "ISOM3230": 65, "ISOM3260": 70, "ISOM3400": 65}]

# write the code below
sorted(courses, key=lambda x: -x["ISOM3400"])

[{'ISOM2020': 480, 'ISOM3230': 65, 'ISOM3260': 70, 'ISOM3400': 65},
 {'ISOM2020': 457, 'ISOM3180': 72, 'ISOM3260': 60, 'ISOM3400': 61},
 {'ISOM2010': 510,
  'ISOM2020': 460,
  'ISOM2030': 70,
  'ISOM3230': 90,
  'ISOM3400': 60},
 {'ISOM2010': 503,
  'ISOM2030': 68,
  'ISOM3180': 68,
  'ISOM3230': 87,
  'ISOM3400': 0}]

Then sort the courses list by total number of students in descending order.

In [19]:
# write the code below
sorted(courses, key=lambda x: -sum(x.values()))

[{'ISOM2010': 510,
  'ISOM2020': 460,
  'ISOM2030': 70,
  'ISOM3230': 90,
  'ISOM3400': 60},
 {'ISOM2010': 503,
  'ISOM2030': 68,
  'ISOM3180': 68,
  'ISOM3230': 87,
  'ISOM3400': 0},
 {'ISOM2020': 480, 'ISOM3230': 65, 'ISOM3260': 70, 'ISOM3400': 65},
 {'ISOM2020': 457, 'ISOM3180': 72, 'ISOM3260': 60, 'ISOM3400': 61}]