## Practice Questions on Data Structures

For each question below, please write the corresponding code, and then run the code to show the output.

1) Between (1) and 1, which is a valid tuple display to create a tuple of element 1?

In [1]:
numTuple = (1)
print(numTuple)

1

2) Run the following code snippet and briefly explain why the value of `course_tuple` changes?

```python
a = ['python']
course_tuple = (a, ['business', 'analytics'])
a[:] = ['programming']
course_tuple
```

In [2]:
a = ['python']
course_tuple = (a, ['business', 'analytics'])
a[:] = ['programming']
course_tuple

(['programming'], ['business', 'analytics'])

3) Create a tuple `tp` with two lists inside: `[1, 2, 3], [4, 5, 6]`. Write code to extract element 5 out of the tuple.

In [5]:
tp = ([1, 2, 3], [4, 5, 6])
print(tp[-1][1])

5

4) Try to replace 5 with 6. Print the updated tuple `tp`.

In [7]:
tp[1][1] = 6 
tp

([1, 2, 3], [4, 6, 6])

5) Create a list `ls` with two tuples inside: `(1, 2, 3), (4, 5, 6)`. Write code to extract element 5 out of the list. Then try to replace 5 with 6. What results do you get? Briefly explain the result.

In [12]:
ls = [(1, 2, 3), (4, 5, 6)]
element = ls[1][1]
element = 6 
ls 
# the tuples' elements cannot be changed thus ls remains the same

[(1, 2, 3), (4, 5, 6)]

6) Given a sentence: `"Python is a high-level language for general-purpose programming"`, create a tuple `tp2` and a list `ls2` with each character in the sentence as an element. 

Print `tp2` and `ls2`. The output should look like: 

```python
('P', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'a', ' ', 'h', 'i', 'g', 'h', '-', 'l', 'e', 'v', 'e', 'l', ' ', 'l', 'a', 'n', 'g', 'u', 'a', 'g', 'e', ' ', 'f', 'o', 'r', ' ', 'g', 'e', 'n', 'e', 'r', 'a', 'l', '-', 'p', 'u', 'r', 'p', 'o', 's', 'e', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g')
```
```python
['P', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'a', ' ', 'h', 'i', 'g', 'h', '-', 'l', 'e', 'v', 'e', 'l', ' ', 'l', 'a', 'n', 'g', 'u', 'a', 'g', 'e', ' ', 'f', 'o', 'r', ' ', 'g', 'e', 'n', 'e', 'r', 'a', 'l', '-', 'p', 'u', 'r', 'p', 'o', 's', 'e', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']
```
Also print the length of `tp2` and `ls2`, which shall be 63 for each.

In [36]:
sentence = "Python is a high-level language for general-purpose programming"
tp2 = tuple(sentence)
ls2 = list(sentence)
print(f"{tp2} {ls} \n{len(tp2)} {len(ls)}")

('P', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'a', ' ', 'h', 'i', 'g', 'h', '-', 'l', 'e', 'v', 'e', 'l', ' ', 'l', 'a', 'n', 'g', 'u', 'a', 'g', 'e', ' ', 'f', 'o', 'r', ' ', 'g', 'e', 'n', 'e', 'r', 'a', 'l', '-', 'p', 'u', 'r', 'p', 'o', 's', 'e', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g') ['P', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'a', ' ', 'h', 'i', 'g', 'h', '-', 'l', 'e', 'v', 'e', 'l', ' ', 'l', 'a', 'n', 'g', 'u', 'a', 'g', 'e', ' ', 'f', 'o', 'r', ' ', 'g', 'e', 'n', 'e', 'r', 'a', 'l', '-', 'p', 'u', 'r', 'p', 'o', 's', 'e', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']
63 63

7) How many hyphens are there in `tp2`? The answer should be 2.

In [23]:
print(tp2.count('-'))

2

8) How many spaces (i.e., `' '`) are there in `ls2`? The answer should be 7.

In [24]:
print(ls.count(' '))

7

9) Can you find the index for the 2nd `'a'` in `tp2`? The answer is 24.

In [35]:
count = 0
print(tp2)
for i, char in enumerate(tp2):
    if char == "a":
        count += 1
        if count == 2:
            secondIndex = i 
            break

print(secondIndex)

# Another method
# Find the index of the first 'a'
first_a_index = tp2.index('a')

# Find the index of the second 'a' by slicing the tuple to start after the first 'a'
second_a_index = tp2.index('a', first_a_index + 1)

print(second_a_index)

('P', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'a', ' ', 'h', 'i', 'g', 'h', '-', 'l', 'e', 'v', 'e', 'l', ' ', 'l', 'a', 'n', 'g', 'u', 'a', 'g', 'e', ' ', 'f', 'o', 'r', ' ', 'g', 'e', 'n', 'e', 'r', 'a', 'l', '-', 'p', 'u', 'r', 'p', 'o', 's', 'e', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g')
24
24

10) Use a list comprehension to find out how many elements in `ls2` are greater than `"A"`? The answer should be 54.

In [39]:
isGreater = [element for element in ls2 if element > "A"]
print(len(isGreater))

54

11) Create a new string with all spaces and hypens being removed from `"Python is a high-level language for general-purpose programming"`. 

The result should look like
``` python
'Pythonisahighlevellanguageforgeneralpurposeprogramming'
```

(hint: use a list comprehension to create a new list with these two characters eliminated and pass the new list to the `join()` method. See `help(''.join)`)

In [46]:
newList = [i for i in ls2 if i != " " and i != "-"]
otherList = ''.join(newList)
print(otherList)

Pythonisahighlevellanguageforgeneralpurposeprogramming

12) Use a list comprehension to create a new list called `slist` that contains the square of all even numbers in `[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`.

In [49]:
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
slist = [x**2 for x in nums if x % 2 == 0 and x != 0]
slist

[4, 16, 36, 64, 100]

13) Use a list comprehenstion to show only elements in `slist` that contains number 4. The result should be `[4, 64]`

In [52]:
slist2 = [x for x in slist if "4" in str(x)]
slist2

[4, 64]

14) Find out how many elements in `slist` are divisable by 8. The result should be `3`

In [53]:
slist3 = [x for x in slist if x % 8 == 0]
print(len(slist3))

2

15) Create a string `st_sports` that looks like this: 

```python
'soccer tennis badminton swimming'
```
Then create a list `ls_sports` from `st_sports` with each sport as an element in the list.

Print `ls_sports`. The result should look like: 

```python
['soccer', 'tennis', 'badminton', 'swimming']
```

(hint: `help(str.split)`)

In [57]:
st_sports = 'soccer tennis badminton swimming'
ls_sports = st_sports.split()
ls_sports

['soccer', 'tennis', 'badminton', 'swimming']

16) Based on `ls_sports`, create a new nested list `sports` that looks like the following:

```python
[[1, 2, 3, 4], ['soccer', 'tennis', 'badminton', 'swimming']]
```

In [65]:
sports = [[i+1 for i in range(len(ls_sports))], ls_sports]
sports

[[1, 2, 3, 4], ['soccer', 'tennis', 'badminton', 'swimming']]

17) Create a new nested list called `sports_rev` by switching the order the two sublists in `sports`, and then sorting each sublist in descending order. 

Print `sports_rev` and the result should be: 

```python
[['tennis', 'swimming', 'soccer', 'badminton'], [4, 3, 2, 1]]
```

In [71]:
sports_rev = [sorted(ls, reverse=True) for ls in sports[::-1]]
sports_rev

[['tennis', 'swimming', 'soccer', 'badminton'], [4, 3, 2, 1]]

18) Use the `remove()` method to remove `4` and `'swimming'` from `sports`, then print the updated `sports` list, which should look like: 

```python
[[1, 2, 3], ['soccer', 'tennis', 'badminton']]
```

In [82]:
sports = [[1, 2, 3, 4], ['soccer', 'tennis', 'badminton', 'swimming']]
sports[1].remove('swimming')
sports[0].remove(4)
print(sports)

[[1, 2, 3], ['soccer', 'tennis', 'badminton']]

19) Can you add number 4 and 'swimming' back to sports by using the `extend()` method? Print `sports` to confirm.

In [109]:
sports[1].extend(["swimming"])
sports[0].extend([4])
sports

[[1, 2, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4],
 ['soccer',
  'tennis',
  'badminton',
  's',
  'w',
  'i',
  'm',
  'm',
  'i',
  'n',
  'g',
  'swimming',
  'swimming',
  'swimming',
  'swimming',
  'swimming',
  'swimming',
  'swimming']]

20) Create `lista` that contains `['1', '3', '5']`. Print the sum of the numeric values of the elements, which should be 9.

In [146]:
lista = [str(x) for x in range(6) if x % 2 != 0 and x != 0]

21) Create `listb` that contains `['2', '4', '6']`. Concatenate `lista` and `listb`, which should look like 

`['1', '3', '5', '2', '4', '6']`

In [147]:
listb = [str(x) for x in range(7) if x % 2 == 0 and x != 0]
lista = lista + listb
lista

['1', '3', '5', '2', '4', '6']

22) Redefine lista as `['1', '2', '3', '4', '5', '6']`. Add a sublist `['7', '8', '9']` to `lista`, so it becomes `['1', '2', '3', '4', '5', '6', ['7','8','9']]`. And then pop the sublist out and assign it to `listc`. Print `lista` and `listc`.

In [148]:
lista = ['1', '2', '3', '4', '5', '6']
lista.append([str(x) for x in range(7, 10)])
listc = lista.pop(-1)
print(lista, listc)

['1', '2', '3', '4', '5', '6'] ['7', '8', '9']

23) Combine `lista` and `listc` and print them in reverse order such that it looks like: 

```python
['9', '8', '7', '6', '5', '4', '3', '2', '1']
```

In [149]:
lista = lista + listc 
print(sorted(lista, reverse=True))

['9', '8', '7', '6', '5', '4', '3', '2', '1']

24) Define a list `xtree` as
```python
['*****', '***', '*******', '*********', '*']
```
Try to use it to print a christmas tree as below:

         *          
        ***         
       *****        
      *******       
     *********  

Steps: 

1. sort `xtree` from one star to nine stars; 

2. use a list comprehension to regenerate a list with added spaces around each element and center the element to the middle of 20 characters each. Hint: 
 - `help(''.center)` or
 - use the new-style string formatting. The format specifier to use is `{: ^20}`.
 

3. use print function to print the result of 3, and in fact step 3 and 4 shall be done in one step. 


     
Additional information on how to print a list without square brackets, commas, and print each list item on a new line. Try the following three print functions, and you will see the difference. Select the appropriate one for your Christmas tree. 

```python
print([1, 2, 3])
print(*[1, 2, 3])
print(*[1, 2, 3], sep="\n")
```

In [24]:
xtree = sorted(['*****', '***', '*******', '*********', '*'])
xtree_ls = [f'{element: ^20}' for element in xtree]
print(xtree_ls)
# '\n.join() joins each elements with a newline in between 
# and becomes a string, thus no "" 
final_output = '\n'.join(xtree_ls)
print(final_output)
type(final_output)

['         *          ', '        ***         ', '       *****        ', '      *******       ', '     *********      ']
         *
        ***
       *****
      *******
     *********

str

25) Create two sets `seta` and `setb` from `[1, 2, 4, 'a', 'b', 4, 1]` and `[2, 4, 2, 3, 'b', 'c']`.

26) Create a dictionary `course` based on the following list with all duplicates being removed:

```python
[('ISOM3210', 'Information Systems Analysis and Design'), 
 ('ISOM3210', 'Information Systems Analysis and Design'), 
 ('ISOM3210', 'Information Systems Analysis and Design'), 
 ('ISOM3230', 'Business Applications Programming'), 
 ('ISOM3260', 'Database Design and Administration'), 
 ('ISOM3260', 'Database Design and Administration'), 
 ('ISOM3320', 'Internet Applications Development'), 
 ('ISOM3320', 'Internet Applications Development'), 
 ('ISOM3360', 'Data Mining for Business Analytics'),
 ('ISOM3370', 'Big Data Technologies'), 
 ('ISOM3390', 'R for Business Programming'),
 ('ISOM3400', 'Python Programming for Business Analytics')]
```

In [3]:
# first turn into set 
# list comprehension create dictionary? 
courses_ls = [('ISOM3210', 'Information Systems Analysis and Design'), 
 ('ISOM3210', 'Information Systems Analysis and Design'), 
 ('ISOM3210', 'Information Systems Analysis and Design'), 
 ('ISOM3230', 'Business Applications Programming'), 
 ('ISOM3260', 'Database Design and Administration'), 
 ('ISOM3260', 'Database Design and Administration'), 
 ('ISOM3320', 'Internet Applications Development'), 
 ('ISOM3320', 'Internet Applications Development'), 
 ('ISOM3360', 'Data Mining for Business Analytics'),
 ('ISOM3370', 'Big Data Technologies'), 
 ('ISOM3390', 'R for Business Programming'),
 ('ISOM3400', 'Python Programming for Business Analytics')]

course = dict(courses_ls)
print(course)

{'ISOM3210': 'Information Systems Analysis and Design', 'ISOM3230': 'Business Applications Programming', 'ISOM3260': 'Database Design and Administration', 'ISOM3320': 'Internet Applications Development', 'ISOM3360': 'Data Mining for Business Analytics', 'ISOM3370': 'Big Data Technologies', 'ISOM3390': 'R for Business Programming', 'ISOM3400': 'Python Programming for Business Analytics'}

27) Based on `course`, create a dictionary `prog_course` with all courses whose title contains `'Programming'`. Printing `prog_course` should return: 

```python
{'ISOM3230': 'Business Applications Programming',
 'ISOM3390': 'R for Business Programming',
 'ISOM3400': 'Python Programming for Business Analytics'}
```

In [11]:
# dict comprehension 
# prog_course = {id: title for course in course if "Programming" in course}
prog_course = {k: v for k, v in course.items() if 'Programming' in v}
prog_course

{'ISOM3230': 'Business Applications Programming',
 'ISOM3390': 'R for Business Programming',
 'ISOM3400': 'Python Programming for Business Analytics'}

28) Present the content of `prog_course` as follows:

```
-----------------------------------------------------------------
|  ISOM3230  |  Business Applications Programming               |
-----------------------------------------------------------------
|  ISOM3390  |  R for Business Programming                      |
-----------------------------------------------------------------
|  ISOM3400  |  Python Programming for Business Analytics       |
-----------------------------------------------------------------
```

Hint: Use the following string in a comprehension

```python
'|  {:<10}|  {:<48}|'.format(code, title) + '\n'  + '-' * 65
```

In [14]:
output = '-' * 65 + '\n' + '\n'.join(['|  {:<10}|  {:<48}|'.format(code, title) + '\n'  + '-' * 65 for code, title in prog_course.items()])
print(output)

-----------------------------------------------------------------
|  ISOM3230  |  Business Applications Programming               |
-----------------------------------------------------------------
|  ISOM3390  |  R for Business Programming                      |
-----------------------------------------------------------------
|  ISOM3400  |  Python Programming for Business Analytics       |
-----------------------------------------------------------------