# Practice Questions on Functions and Classes

For each question below, please write the corresponding code, and then run the code to show the output.

In [ ]:
def describe_party(*people, **objects):
    vowel_ls = ['a', 'e', 'i', 'o', 'u']
    print("There I was alone at the party, when I saw")
    for person in people: 
        print(f"- {person}")
    print("And also...")
    for obj, adj in objects.items():
        if adj[0] in vowel_ls: 
            print(f"- An {adj} {obj}")
        else: 
            print(f"- A {adj} {obj}")


describe_party("Tom", "Mary", "John", table="large", glass="empty")

1) Create a function called `func_a`, which prints a message. 

- Call the function.
- Assign the function object to a name `b`, without calling the function.
- Now call the function using the name `b`.

In [4]:
def func_a():
    return("Hello World!")
b = func_a
b()

'Hello World!'

2)  Create a function called `hypotenuse`, which takes two numbers as inputs and prints the square root of the sum of their squares. Call this function with two floats, with two integers, and with one integer and one float sequentially.

In [23]:
def hypotenuse(a, b):
    c = (a**2 + b**2)**0.5
    print(c)  
hypotenuse(6.0, 8.0)  # Output: 10.0
hypotenuse(6, 8)      # Output: 10.0
hypotenuse(6, 8.0)    # Output: 10.0

10.0
10.0
10.0

3) Rewrite the `hypotenuse` function from above so that it returns a value instead of printing it. Add exception handling so that the function returns `None` if it is called with inputs of the wrong type. Call the function with two numbers, with two strings, and with a number and a string sequentially.

In [21]:
def hypotenuse(a, b):
    try:
        a = float(a)
        b = float(b)
        c = (a**2 + b**2)**0.5
        return c 
    except ValueError: 
        return None

print(hypotenuse(6, 8))
print(hypotenuse('six', 8))

10.0
None

4) Write a function called `calculator`. It should take the following arguments: two numbers and an arithmetic operation (which can be addition, subtraction, multiplication or division and is addition by default). Raise exceptions as appropriate if any of the arguments passed to the function are invalid.

Call the function with the following sets of arguments, and check that the answer is what you expect:

- `2`, `3.0`
- `2`, `3.0`, operation is division

In [ ]:
def calculator(num1, num2, op):
    if op == "+":
        return num1 + num2 
    # ...

5) Rewrite the `calculator` function from above so that it takes any number of numeric arguments as well as the same optional keyword argument. The function should apply the operation to the first two numbers, and then apply it again to the result and the next number, and so on. 

For example, if the numbers are `6`, `4`, `9` and `1` and the operation is subtraction the function should return `6 - 4 - 9 - 1`. If only one number is entered, it should be returned unmodified. If no numbers are entered, raise an exception.

In [7]:
def calculator(*args): 
    try: 
        if len(args) == 1: 
            return args[0] 
        else: 
            sum = 0
            for num in args:
            # iterating over tuples, adding them 
                sum += num 
            return sum
    except ValueError: 
        return "Please input at least one number "
    
calculator(1, 2, 3, 4, 5)

15

6) Define the following functions as `lambda`s, and assign them to names:

- Take one argument; return its square
- Take two arguments; return the square root of the sums of their squares
- Take any number of arguments; return their average
- Take a string argument; return a collection which contains the unique letters in the input string (in any order)

In [19]:
sq = lambda x: x**2 
sqrt = lambda x: x**0.5
avg = lambda *arg: sum(arg)/ len(arg)

# 4. without lambda 
def unique_letters(str):
    str_ls = list(str)
    letter_dict = {}
    for letter in str_ls:  
        if letter not in letter_dict: 
            letter_dict[letter] = 1
        else: 
            letter_dict[letter] += 1 
    return letter_dict 
# unique_letters('sunny')

letters_lambda = lambda str: {char: str.count(char) for char in str}
letters_lambda('sunny')

{'s': 1, 'u': 1, 'n': 2, 'y': 1}

7) Define a function that could convert temperature from fahrenheit to celsius, round it to two decimal points, and return the converted temperature. 

After defining the function, call it to convert `101.5` fahrenheit to celsius, the result should be: `38.61`

In [21]:
FtoC = lambda temperature: round((temperature - 32) * (5/9), 2)
FtoC(101.5)

38.61

8) Define your own min and max function, such that when users call the function with a series of numbers and whether they want mininum or maximum of these numbers. Set the default value to be `'max'`, but users can choose to input `'min'` when calling the function. The function will return the desired mininum or maximum number out of the numbers. If a user provides neither `'max'` nor `'min'` when calling the function, print `Wrong call!`. 

For example, calling `min_max(5, 2, 2, 0, -6, -22, 77)` returns `77`.

In [1]:
def min_max(*nums):
    largest = nums[0]
    for num in nums: 
        if num > largest: 
            largest = num 
    return largest 

min_max(5, 2, 2, 0, -6, -22, 77)

77

9) Define a function that will return a list of $n$ numbers, such that except for the first two numbers, which are set to be 1 and 1, the rest of the numbers are sum of the previous two numbers. For example, such a list will be `1, 1, 2, 3, 5, 8, 13 ,21, 34...` (when $n = 9$)

In [11]:
def fibonacci(num):
    ls = [1, 1] 
    a, b = 1, 1
    for i in range(num - 2):
        c = a + b 
        a = b 
        b = c 
        ls.append(c)
    ls[-1] = f"{ls[-1]}..."
    return ls
fibonacci(9)

[1, 1, 2, 3, 5, 8, 13, 21, '34...']

10) Define a function that can draw a horizontal histogram based on any number of integers (between 0 to 9) inputted. For example, providing the following numbers as the arguments: `4, 6, 4, 7, 0, 5, 7, 5, 3, 4, 4, 3, 2, 1, 3, 4, 5, 6, 7, 9` prints out a histogram based on the frequency of each integer in sorted order as follows:

```python
0
1
2
333
44444
555
66
777
9
```

In [2]:
def draw_histogram(*args):
    frequency = [0]*10
    print(frequency)
    for num in args:
        frequency[num] += 1
    for i in range(10):
        if frequency[i] > 0: 
            print(str(i) * frequency[i])
    
    

draw_histogram(4, 6, 4, 7, 0, 5, 7, 5, 3, 4, 4, 3, 2, 1, 3, 4, 5, 6, 7, 9)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0
1
2
333
44444
555
66
777
9

11) Define a function that accepts a sequence of numbers, and then raise all numbers to a designated power (usually by 2, which is the default), then return a new list as the output. 

After defining the function, call it with these numbers: `1, 3, 5`, raised to the power of 2; and then to the power of 3 for each element. So the printout would be `[1, 9, 25]` for power 2, and `[1, 27, 125]` for power 3 (i.e., call the function twice).

In [3]:
def exp(*nums, power):
    new_ls = map(lambda x: x**power, nums)
    return list(new_ls) 

exp(1, 3, 5, power=3)

[1, 27, 125]

## Questions 12-15 are about an McDonald's order function

Please see **function** below that can take some simple McDonald's orders. Assume that each other has a required argument order_id (integers starting from 1), and about 35% the orders at UST have the following three items: a fish burger, coke, and medium size fries, which can be set as default arguments. Other items on each order vary a lot. But note that some extra items are single items, such as harsh browns, or twist cone, while other extra items may have different flavor options, such as corn pie and apple pie for pies. 

Given the definition of the function below, try to make a few orders by calling this function with different arguments in the following questions.

In [27]:
def order(order_id, *extra, burger="Fish", drink="Coke", fries = "M", **others): 
    print("Order "+ str(order_id)+ ":", burger, "burger;", drink+";", fries, 'fries', extra, others)

order(2, "extra ketchup")

Order 2: Fish burger; Coke; M fries ('extra ketchup',) {}

12) Order ID 1 contains the following food: a fish burger, coke, a medium size fries, and a strawberry sundae. The printout should be: 

`Order 1: fish burger; coke; M fries () {'Sundae': 'strawberry'}`

In [26]:
order(1, Sundae="Strawberry")

Order 1: fish burger; coke; M fries () {'Sundae': 'Strawberry'}

13) Order ID 2 contains the following food: a chicken burger, coke, a small size fries, a twist cone, an apple pie, and a strawberry shake. The printout should be 

`Order 2: chicken burger; coke; S fries ('twist cone',) {'Pie': 'apple', 'Shake': 'strawberry'}`

In [28]:
order(2, "Twist Cone", burger="Chicken", fries="S", Pie="Apple", Shake="Strawberry")

Order 2: Chicken burger; Coke; S fries ('Twist Cone',) {'Pie': 'Apple', 'Shake': 'Strawberry'}

14) Order ID 3 contains the following food: orange juice, a fish burger, harsh browns, a twist cone, and a corn pie. The printout should be 

`Order 3: fish burger; Orange juice; None fries ('harshbrown', 'twist cone') {'Pie': 'corn'}`

In [31]:
order(3, "Hash Browns", "Twist Cone", fries=None, Pie="Corn")

Order 3: Fish burger; Coke; None fries ('Hash Browns', 'Twist Cone') {'Pie': 'Corn'}

15) Now define a class called `Ordered_Item`, which has 3 data attributes: `name`, `price`, and `quantity`, and 1 function attribute `print_item` which prints this ordered item's name, price, quantity, and total. 

After defining the class, use the following code to call the function, and you should get output as follows: 

```python
item1 = Ordered_Item("fish burger", 11.25, 2)
item1.print_item()
```
`fish burger $11.25 Quantity: 2 Total = $22.5`

In [4]:
class Ordered_Item():
    def __init__(self, name, price, quantity):
        self.name = name 
        self.price = price
        self.quantity = quantity 
    
    def print_item(self):
            print(f"{self.name} ${self.price} Quantity: {self.quantity} Total = ${round(self.price * self.quantity, 2)}")

item1 = Ordered_Item("fish burger", 11.25, 2)
item1.print_item()

fish burger $11.25 Quantity: 2 Total = $22.5

16) **Yang Hui Triangle**. Define a function `YangHuiTriangle(n)` that will print a yang hui triangle with n levels (n=6 in the example below):

```python
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
```


Observe the triangle carefully and you will notice three things: 

- the numbers in the first two lines are given, rather than derived from any algorithem; 
- starting the third line, each number is the sum of two numbers in the line above, e.g. line6: `[1, 5, 10, 10, 5, 1]`:
    - the second element 5 is the sum of the previous line's elements 1 and 4;
    - the third element 10 is the sum of the previous line's elements 4 and 6;
    - the fourth element *10* is the sum of the previous line's elements 6 and 4, etc.
- the first and the last number on each line are set to be 1.

If the input argument `n` is not positive integer, print a message 

```
A positive integer n is required for YangHuiTriangle
```

In [10]:
def YangHuiTriangle(n):
    triangle = []
    if n < 1 or type(n) != int:
        print("A positive integer n is required for YangHuiTriangle")
        return

    if n >= 1:
        triangle.append([1])

    if n >= 2:
        triangle.append([1, 1])

    for i in range(2, n):
        row = [1]
        for j in range(1, i):
            row.append(triangle[i-1][j-1] + triangle[i-1][j])
        row.append(1)
        triangle.append(row)

    print(*triangle, sep='\n')

YangHuiTriangle(4)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]

17) Write a function `matrixConstructor` which can take up to 5 integer arguments: `m` (required), `n` (required), `args` (1 to 3 element(s)) to construct a $m \times n$ matrix (nested list).

The elements used to construct the matrix are generated based on args.
- If no input for `args`, print a message 
```
matrixConstructor expected to take at lease 1 'args' arguments, got 0
```
- If only 1 integer is provided to `args`, the sequence of integers starts from 0 and ends with integer-1 with step = 1, i.e. `range(args)`.

- If 2 integers are provided to `args`, the sequence of integers starts from the first integer in `args` to the second integer in `args` - 1 with step = 1, i.e. `range(arg1, arg2)`.

- Otherwise, the sequence of integers starts from the first integer in `args` to the second integer in `args` -1 with step = the third integer, i.e. `range(arg1, arg2, arg3)`.


## Read and run the following code and answer questions 18-19:

In [ ]:
import datetime     # we will use this for date objects

class Person:

    def __init__(self, name, surname, birthdate, address, telephone, email):
        self.name = name
        self.surname = surname
        self.birthdate = birthdate

        self.address = address
        self.telephone = telephone
        self.email = email

    def age(self):
        today = datetime.date.today()             # return a date object
        age = today.year - self.birthdate.year     

        if today < datetime.date(today.year, self.birthdate.month, self.birthdate.day):
            age -= 1

        return age

person = Person(
    "Jane",
    "Doe",
    datetime.date(1992, 3, 12),          # create a date object by providing year, month, and day
    "No. 12 Short Street, Greenville",
    "555 456 0987",
    "jane.doe@example.com"
)

18)  Explain what the following variables refer to, and their scope (in which namespace):

- `Person`
- `person`
- `surname`
- `self`
- `age` (the function name)
- `age` (the variable used inside the function)
- `self.email`
- `person.email`

19) Rewrite the `Person` class so that a person's age is calculated for the first time when a new person instance is created, and recalculated (when it is requested) if the day has changed since the last time that it was calculated.

Hint: define a function attribute `recalculate_age` and use an instance attribute `age_last_recalculated` to record the last time the age was calculated.

20) Explain the differences between the attributes `name`, `surname` and `profession`, and what values they can have in different instances of this class:

```python
class Smith:
    surname = "Smith"
    profession = "smith"

    def __init__(self, name, profession=None):
        self.name = name
        if profession is not None:
            self.profession = profession
```

21) Create a class called `Numbers`, which has a single class attribute called `MULTIPLIER`, and an initializer which has the parameters `x` and `y` (these should all be numbers).

- Write a function attribute called `add` which returns the sum of the attributes `x` and `y`.
- Write a function attribute called `multiply`, which has a single number parameter `a` and returns the product of `a` and `MULTIPLIER`.
- Write a function attribute called `subtract`, which has two number parameters, `b` and `c`, and returns `b - c`.